USE [master]
GO
/****** Object:  Database [TBLPROJECTMANAGMENT]    Script Date: 28.03.2022 22:28:20 ******/
CREATE DATABASE [TBLPROJECTMANAGMENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TBLPROJECTMANAGMENT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TBLPROJECTMANAGMENT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TBLPROJECTMANAGMENT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TBLPROJECTMANAGMENT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TBLPROJECTMANAGMENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TBLPROJECTMANAGMENT]
GO
/****** Object:  Table [dbo].[TblAcademician]    Script Date: 28.03.2022 22:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAcademician](
	[ID] [int] NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblHumanSource]    Script Date: 28.03.2022 22:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblHumanSource](
	[ID] [int] NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblProject]    Script Date: 28.03.2022 22:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblProject](
	[ID] [int] NULL,
	[NAME] [varchar](50) NULL,
	[DEPARTMAN] [varchar](50) NULL,
	[POSITION] [varchar](50) NULL,
	[PHONE] [varchar](50) NULL,
	[EMAİL] [varchar](50) NULL,
	[OFFICE] [varchar](50) NULL,
	[TAME_TABLE] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblStudent]    Script Date: 28.03.2022 22:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblStudent](
	[ID] [int] NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TblAcademician] ([ID], [USERNAME], [PASSWORD]) VALUES (1, N'Academician', N'123456')
GO
INSERT [dbo].[TblHumanSource] ([ID], [USERNAME], [PASSWORD]) VALUES (1, N'Humansource', N'123456')
GO
INSERT [dbo].[TblProject] ([ID], [NAME], [DEPARTMAN], [POSITION], [PHONE], [EMAİL], [OFFICE], [TAME_TABLE]) VALUES (8, N'Doç.Dr. Türker Tekin ERGÜZEL', N'MDBF', N'Yazılım Mühendisliği - Bölüm Başkanı', N'Yazılım Mühendisliği - Bölüm Başkanı', N'turker.erguzeluskudar.edu.tr', N'Üsküdar', N'Herzaman')
INSERT [dbo].[TblProject] ([ID], [NAME], [DEPARTMAN], [POSITION], [PHONE], [EMAİL], [OFFICE], [TAME_TABLE]) VALUES (2, N'Dr.Öğr. Üyesi Kristin Surpuhi BENLİ', N'MDBF', N'Yazılım Mühendisliği Bölüm Başkan Yardımcısı', N'Yazılım Mühendisliği Bölüm Başkan Yardımcısı', N'kristin.benliuskudar.edu.tr', N'pendik', N'Herzaman')
INSERT [dbo].[TblProject] ([ID], [NAME], [DEPARTMAN], [POSITION], [PHONE], [EMAİL], [OFFICE], [TAME_TABLE]) VALUES (7, N'Doç.Dr. Türker Tekin ERGÜZEL', N'MDBF', N'Yazılım Mühendisliği - Bölüm Başkanı', N'(0216) 400 2222 ', N'turker.erguzeluskudar.edu.tr', N'Üsküdaraaaa', N'Herzaman')
GO
INSERT [dbo].[TblStudent] ([ID], [USERNAME], [PASSWORD]) VALUES (1, N'Student', N'123456')
GO
/****** Object:  StoredProcedure [dbo].[ACADEMICIANEKLE]    Script Date: 28.03.2022 22:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACADEMICIANEKLE]
@ID int,
@NAME VARCHAR(50),
@DEPARTMAN VARCHAR(50),
@POSITION VARCHAR(50),
@PHONE VARCHAR(50),
@EMAIL VARCHAR(50),
@OFFICE VARCHAR(50),
@TAME_TABLE VARCHAR(50)

AS 
INSERT INTO TblProject(ID,NAME,DEPARTMAN,POSITION,PHONE,EMAİL,OFFICE,TAME_TABLE)
VALUES (@ID,@NAME,@DEPARTMAN,@POSITION,@PHONE,@EMAIL,@OFFICE,@TAME_TABLE)
GO
/****** Object:  StoredProcedure [dbo].[ACADEMICIANLISTESI]    Script Date: 28.03.2022 22:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACADEMICIANLISTESI]
AS
SELECT * FROM TblProject 
 
GO
/****** Object:  StoredProcedure [dbo].[ACADEMICIANSIL]    Script Date: 28.03.2022 22:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACADEMICIANSIL]
@ID int
AS
DELETE FROM TblProject WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[ACADEMICIANUPDATE]    Script Date: 28.03.2022 22:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACADEMICIANUPDATE]
@ID int,
@NAME VARCHAR(50),
@DEPARTMAN VARCHAR(50),
@POSITION VARCHAR(50),
@PHONE VARCHAR(50),
@EMAIL VARCHAR(50),
@OFFICE VARCHAR(50),
@TİME_TABLE VARCHAR(50)
AS
UPDATE TblProject SET NAME=@NAME,DEPARTMAN=@DEPARTMAN,POSITION=@POSITION,
PHONE=@PHONE,EMAİL=@EMAIL,OFFICE=@OFFICE,TAME_TABLE=@TİME_TABLE,ID=@ID
WHERE ID=@ID
GO
USE [master]
GO
